* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0d1b2a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #14213d;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  color: white;
}

.main-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.main-img:hover {
    opacity: 0.8;
    transition: 2s;
    transform: scale(1);
    
}

h2 {
  margin-bottom: 10px;
}

p {
  color: #b0c4de;
  font-size: 14px;
  margin-bottom: 15px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
}

.price {
  color: #00ffff;
  font-weight: bold;
}

.time {
  color: #b0c4de;
}

hr {
  border: 0.5px solid #2c3e50;
  margin-bottom: 15px;
}

.card-footer {
  display: flex;
  gap: 10px;
}

.card-footer img {
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
}

.card-footer span {
  color: white;
}
